<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoFiStudy</title>
    <link rel="stylesheet" href="glow.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="friends.css">
</head>
<body id="displayfriends">
    
    <nav class="navbar navbar-expand-lg  bg-dark">
            
        <!-- <img src="images/possiblegif1.gif" alt="" id="possiblegif1"> -->
        <div class="container-fluid">
            <button class="navbar-toggler bg-dark navbar-dark"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
            
        
        
        
        
            <div class="collapse navbar-collapse  " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <img src="gifs/gif1.gif" id="gif_now" style="margin-top: 7px; height:50px; width: 150px">
                </li>
                <li class="nav-item">
                <!-- <a class="nav-link active text-light" aria-current="page" href="#">Home</a> -->
                <button  class="glow-on-hover" style="margin: 5px;">
                    <a class="nav-link  text-light" aria-current="page" href="index.html">Home</a>
                </button>
                </li>
                <li class="nav-item">
                <!-- <a class="nav-link text-light" aria-current="page" href="#">Add Friends</a> -->
                <button  class="glow-on-hover" style="margin: 5px;">
                    <a class="nav-link text-light" aria-current="page" href="friendtemplate_pre.html">Add Friends</a>
                </button>
                </li>
                <li class="nav-item">
                <!-- <a class="nav-link text-light" aria-current="page" href="#">LeaderBoard</a> -->
                <button  class="glow-on-hover" style="margin: 5px;">
                    <a class="nav-link text-light" aria-current="page" href="leaderboard.html">LeaderBoard</a>
                </button>
                
                </li>
                <li><button id="auth" class="glow-on-hover" style="margin: 5px;">Connect to Spotify</button></li>

                <li id="logoutlist"><button id="logout" class="glow-on-hover" style="margin: 5px;">Logout</button></li>
            </ul>
            <script src="js/Spotify api/playback_controls.js"></script>  
            </div>
        
        
        </div>
    </nav>
    <div>
        <div id="content" class="content">
            <div class="profile-header">
                <div class="profile-header-cover"></div>
                <div class="profile-header-content">
                    <div class="profile-header-img mb-4">
                        <img src="images/profile_pic.jpg" class="mb-4"/>
                    </div>
                    <div class="profile-header-info">
                        <h4 class="m-t-sm">{{ currentuser }}</h4>
                        <p class="m-b-sm">Mic Drop</p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="profile-container container-fluid">     
                <label style="margin-top: 10px; margin-bottom: 10px"><b>Send a friend request today!</b></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="frienduser" placeholder="Friend's username" >
                        <button class="glow-on-hover" type="button" v-on:click="sendFriendRequest" style="font-size: large;">Send!</button>
                    </div>
            </div>
            <!---->
            <div class="profile-container container-fluid">
                <div class="row row-space-20">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="profile-friends">
                                <div class="m-b-10"><b>Friend Requests:</b></div>
                                <ul class="friend-list clearfix">
                                    <li v-if="friendsreq.length == 0">Looks like you have 0 friend requests!</li>
                                    <li v-for="(friend, index) in friendsreq" class="col-lg-6">
                                        <a href="#">
                                            <div class="friend-info">
                                                <h4>{{ friend }}</h4>
                                                <button type='button' class='btn btn-success' id="accept" @click="accept(friend,index)">Approve</button> |
                                                <button type='button' class='btn btn-danger' id="reject" @click="reject(friend,index)">Reject</button>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-container">
                <div class="row">
                        <div>
                            <div  id="profile-friends">
                                <div class="m-b-10"><b>Friend List ({{friendlist.length}})</b></div>
                                <ul class="friend-list" id="friendlist2">
                                    <li v-if="friendlist.length == 0">Looks like you have 0 friends!</li>
                                    <li class="col-lg-6 col-md-12 col-sm-12" v-for="(friend,idx) of friendlist">
                                        <a style="height:70px;min-width: 400px;" href="#">
                                            <div class="friend-img img-list"><img src="https://i.scdn.co/image/ab6761610000e5eb8543b9b2b5d153d37c46606d" /></div>
                                            <div class="friend-info">
                                                <h4>{{ friend }}</h4>
                                            </div>
                                        </a>
                                    </li>  

                                </ul>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
<script src="./js/displayfriendsrequests.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    
    // function load(){ 
    // //     <div class="d-flex justify-content-center">
    // //     <div class="spinner-border" role="status">
    // //     <span class="visually-hidden">Loading...</span>
    // //     </div>
    // // </div>
    // var notification = document.getElementById("notification");
    // if(notification) {
    //         notification.remove();
    //     }
    // let check= document.getElementById("maybefriend").value;
    // // or invalid
    // if (check===""){
    //     var main_container_div = document.getElementById("dosomething");
    //     var div = document.createElement("div");
    //     var text = document.createTextNode("You can skip for now if you don't have anyone in mind :)");
    //     div.appendChild(text);
    //     div.setAttribute("id", "notification");
    //     div.setAttribute("class", "alert alert-warning");
    //     div.setAttribute("role", "alert");
    //     div.setAttribute("style", "margin-top: 20px")
    //     main_container_div.appendChild(div);
    //     return 
    // }
    // else{
    //     var main_container_div = document.getElementById("dosomething");
    //     var div = document.createElement("div");
    //     var text = document.createTextNode("Looks like everything's gucci!");
    //     div.appendChild(text);
    //     div.setAttribute("id", "notification");
    //     div.setAttribute("class", "rainbow-box");
    //     div.setAttribute("style", "margin-top: 20px")
    //     main_container_div.appendChild(div);
    //     return 
    
    // }
    // }
    // function myGreeting() {
    // document.getElementById("demo").innerHTML = "Happy Birthday!"
    // }

    // function myStopFunction() {
    // clearTimeout(myTimeout);
    // }
</script>
<script src="./js/login.js" type="module"></script>

</body>
</html>