<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoFiStudy</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<style>
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* change this to white */
    color: black;
}

</style>

<body>

<h2 class="text-warning">Analytics</h1>
<span id="app1">
<div>
    <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>
</div>

<table class="table" border='1'>
    <thead>
        <tr>
            <th scope="col">Friends</th>
            <th scope="col">Study Minutes</th>
            <th scope="col">Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="friend in series"> 
            <td>{{friend.name}}</td> 
            <td>{{friend.study}} minutes</td> 
            <!-- tooltips are triggered when hovering over -->
            <td><a href='#' data-bs-toggle="tooltip" data-bs-placement="right" title="Under Construction">View me!</a>
            </td>
        </tr>   
    </tbody>
</table>
<div>
    <canvas id="myChart2" style="position: relative; height:40vh; width:80vw"></canvas>
</div>
<table class="table" border='1'>
    <thead>
        <tr>
            <th scope="col">Friends</th>
            <th scope="col">Study Minutes</th>
            <th scope="col">Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="friend in series2"> 
            <td>{{friend.name}}</td> 
            <td>{{friend.study}} minutes</td> 
            <!-- tooltips are triggered when hovering over -->
            <td><a href='#' data-bs-toggle="tooltip" data-bs-placement="right" title="Under Construction">View me!</a>
            </td>
        </tr>   
    </tbody>
</table>
<form>
    <div class="form-group-inline justify-content-center">
        <div>
            <label>Add friend:</label>
            <input v-model="friendname" class="form-control" id="addfriend" placeholder="Friend's Name">
        </div>
        
    </div>
</form>
<div class="container-fluid" style="padding:0px; margin:20px 20px 20px 0;">
    <a href ="mainpage.html"><button type="button" class="btn btn-secondary btn-block">Skip for Now</button></a>
    <a href ="#"><button type="button" class="btn btn-primary btn-block" @click="addfriend()">Add Friends</button></a>
</div>
</span>




<script>
    
    const vm = Vue.createApp({
        data() {
            return {

                // retrieve from database 
                
                series: [
                    {name: 'Me', study: 110, profile: ""},
                    {name: 'Jessica', study: 90, profile: ""},
                    {name: 'Chaeyoung', study: 100, profile: ""},
                    {name: 'Sunny', study: 45, profile: ""},
                    {name: 'Lisa', study:80, profile: ""},
                ],
                series2: [
                    {name: 'Me', study: 110, profile: ""},
                    {name: 'Jessica', study: 90, profile: ""},
                    {name: 'Chaeyoung', study: 100, profile: ""},
                    {name: 'Sunny', study: 45, profile: ""},
                    {name: 'Lisa', study:80, profile: ""},
                ],
                friendname:""
            }
        },
        methods: { 
            
            addfriend() { 
                var notification = document.getElementById("notification");
                    if( notification ) {
                        notification.remove();
                    }
                if (this.friendname==""){
                    var main_container_div = document.getElementById("warningbox");
                    var div = document.createElement("div");
                    var text = document.createTextNode("You can skip for now if you don't have anyone in mind :)");
                    div.appendChild(text);
                    div.setAttribute("id", "notification");
                    div.setAttribute("class", "alert alert-info");
                    div.setAttribute("role", "alert");
                    div.setAttribute("style", "margin-top: 20px")
                    main_container_div.appendChild(div);
                    return 
                }
                else{
                // study_time is a placeholder of number to be retrieved from database
                study_time=Math.floor(Math.random() * 100);
                new_friend=this.friendname;
                console.log(localStorage.getItem("uid"));
                this.friendname="";
                return this.series.push({ name: new_friend , study: study_time, profile:""});
                }
            },
            
        
        async created(){
            this.series = await display_stats(localStorage.getItem("uid"));
            }
          
        }
    }

    ).mount('#app1')
</script>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js";
    import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, onAuthStateChanged, setPersistence, browserSessionPersistence} from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
    import { getStorage } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-storage.js";
    import { getFirestore, doc, arrayUnion, setDoc, getDoc, collection, addDoc, updateDoc, deleteDoc,deleteField } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-firestore.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    
    const firebaseConfig = {
        apiKey: "AIzaSyAgq38ay3TXdY5Ily5pobcCAXxGNe7A-wQ",
        authDomain: "wad-project-f3ec0.firebaseapp.com",
        projectId: "wad-project-f3ec0",
        storageBucket: "wad-project-f3ec0.appspot.com",
        messagingSenderId: "220264558494",
        appId: "1:220264558494:web:475684e268fa655215308f",
        measurementId: "G-1H6J376K8X"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const auth = getAuth();
    const db = getFirestore();

    function formatDate(date){
    var formatted_date = date.getDate().toString()+"/"+date.getMonth().toString()+"/"+date.getFullYear().toString();
    return formatted_date;
    }


    //get time in miliseconds 
    //do on session start and end:
    function get_time(){
        var d = new Date();
        var time = d.getTime();
        console.log(d,time);
        return time;
    }
    //     var score = (end - start) / 60000 ;
    //         console.log(score);
    //On session end, update score, whereby score = time spent in session (minutes):

    //update score to database after session ends
    

    async function display_stats(uid){

        var ref = doc(db, "Users", uid);
        const docSnap = await getDoc(ref);
        var past_scores = docSnap.data().PastScores;

        const past7Days = [...Array(7).keys()].map(index => {
            const date = new Date();
            date.setDate(date.getDate() - (index + 1));
            var formatted_date = formatDate(date);
            return formatted_date;
            });
        

        var dates = [];
        var time = [];

        for (var day of past7Days){
            //display days
            console.log(day)
            
            if (day in past_scores){
                //display scores if available
                dates.push(day);
                time.push(past_scores[day]);
            }
            else{
                dates.push(day);
                time.push(past_scores[day]);
                console.log(`data unavailble on ${day}`)
            }
    
        }

        //setting up past 7 days chart
        var data_things = {
            labels: dates,
            datasets: [{
            label: 'Time spent being productive',
            // pink color
            backgroundColor: 'rgb(255,148,224)',
            borderColor: 'rgb(255,148,224)',
            // take in input of array
            data: time,
        
            }]
        };
        var config = {
            type: 'bar',
            data: data_things,
            options: {
                
            }
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        // Data for friend's scores
        var names = [];
        var totaltimes = [];
        if (docSnap.exists()) {
            var namesArr = [];
            var friends = docSnap.data().FriendRequests;
            // var names = []
            // var totaltimes = []
            for (var friend of friends){
                console.log(Object.values(friend)[0]);
                if (Object.values(friend)[0] == true){
                    var ref = doc(db, "Users", Object.keys(friend)[0]);
                    const docSnap = await getDoc(ref);
                    names.push(docSnap.data().Username);
                    totaltimes.push(docSnap.data().TotalTime);
                };
            }
                    

        }
        
        

        
        var data_things2 = {
            labels: names,
            datasets: [{
            label: 'Time spent being productive',
            // pink color
            backgroundColor: 'rgb(255,148,224)',
            borderColor: 'rgb(255,148,224)',
            // take in input of array
            data: totaltimes,
            }]
        };
        var config2 = {
            type: 'bar',
            data: data_things2,
            options: {
                
            }
        };
        var myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );  

    }
    display_stats(localStorage.getItem("uid"));

</script>


<script>



    

    
    
</script>
<script>
    
</script>

<!-- hardcode implementation for reference -->
<script>

    
</script>

</body>
</html>