@media (min-width: 1385px) {
  /* 768 medium */
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
  /*width changes nav-bar width */
  .navbar {
    width: 16%; 
    height: 100vh;
    align-items: flex-start;
  }
  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
  }
  form input {
    margin-bottom: 0.7em;
  }
  .specialGif{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  /* 768 medium */
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
  /*width changes nav-bar width */
  .navbar {
    width: 16%; 
    height: 100vh;
    align-items: flex-start;
  }
  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
  }
  form input {
    margin-bottom: 0.7em;
  }
}